---
layout: page
title: Archive
---

    <section>
        {% for post in site.posts %}
            {% assign stylehtmlpre = ' ' %}
            {% assign imageurl = ' ' %}
            {% assign stylehtmlpost = ' ' %}
            {% assign images = post.content | split:"<img " %}
            {% for image in images %}
                {% if image contains 'src' %}
                    {% assign html = image | split:"/>" | first %}
                    {% assign imageurl = html | split:'src="' | last %}
                    {% assign imageurl = imageurl | split:'"' | first %}
                    {% assign stylehtmlpre = 'style="background: url(' %}
                    {% assign stylehtmlpost = ') no-repeat scroll center center / cover;"' %}
                    {% break %}
                {% endif %}
            {% endfor %}
            <a href="{{site.baseurl}}{{ post.url }}" class="archive-link" {{ stylehtmlpre }}{{ imageurl }}{{ stylehtmlpost }}>
                <h3>{{ post.title }}</h3>
                <br /> <br /> <br /> <br />
                <time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%-d %B %Y"}}</time>
            </a>
    	{% endfor %}
    </section>