body {
    color: #522;
    background-color: rgb(222,222,222);
}

.skin {
    background-color: rgba(255,255,255,0.75);
}

main {
	background-color: rgb(222,222,243);
}

pre,code {
    background-color: rgba(255,255,255,0.33);
}

a {
    color: #355;
}

a:hover {
    color: #088;
}

footer hr {
	background-color: #522;
}

.archive-link, .archive-link h3, .archive-link time {
	background-color: rgb(222,243,243);
}