
.icon-mail:before { content: '\e800'; } /* '' */
.icon-archive:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-back-in-time:before { content: '\e803'; } /* '' */
.icon-rss:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-dot:before { content: '\e806'; } /* '' */
.icon-color-adjust:before { content: '\e807'; } /* '' */
.icon-comment-alt:before { content: '\e808'; } /* '' */
.icon-tbsod-320:before { content: '\e809'; } /* '' */
.icon-tbsod-480:before { content: '\e80a'; } /* '' */